.header{
font-size: 25px;
width: 100%;
margin: 0px;
}

.note{
    font-size: 15px;
    color: black;
}

body{
    background-size: cover;
}

.speed{
    float: left;
}

.speed_img, .volume_img{
    width: 200px;
    border-radius:100px;
}

#speed, #volume{
    font-size: 23px;
    margin:2px;
}

.volume{
    float: right;
}

.play_btn{
    width: 130px;
    font-size: 25px;
}

canvas{
    border:5px solid white;
    border-radius: 20px;
}